// Fonts
$Text-Font: "Hina Mincho";
// Colors
$top-Body: rgb(247, 90, 90);
$bottom-Body: rgb(207, 88, 171);
$Text-color: rgba(17, 10, 15, 0.726);
$glowingBlue: rgb(3, 221, 221);
$darkBlue: rgb(59, 59, 253);
* {
  padding: 0;
  margin: 0;
}
